<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mit bibliotek | My Library</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <div class="logo">📚 My Library</div>
</header>

<div th:each="book : ${session.user.cart}">
    <h2 th:text="${book.title}">Bogtitel</h2>
    <p th:text="${book.author.name}">Forfatter</p>
</div>

<a class="button" href="/loanbooks" >Lån alle</a>

</body>
</html>